.input-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: 2rem;
  margin: 1rem;
}

.table-container {
  margin: 1rem;
}

table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: white;
}

th, td {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin: 0.25rem;
}

.delete-button {
  width: 5rem;
}
