<div class="micro-app-header">
  <h1>Todo List</h1>
</div>
<div class="input-container">
  <input type="text" placeholder="Add your task"
         [ngModel]="todoentered()"
         (ngModelChange)="onEnterTask($event)"
  />
  <button (click)="onSubmitTask()">Submit Task</button>
</div>
<div class="table-container">
  <table>
    @for (todo of todolist(); track $index) {
      <tr>
        <td>
          <span>{{ todolist()[$index] }}</span>
        </td>
        <td>
          <button class="delete-button" (click)="onDeleteTask($index)">Delete</button>
        </td>
      </tr>
    }
  </table>
</div>


