.page-body {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: start;
  gap: 2rem;
}



.navbar {
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 1rem;
}

.app-space {
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  background-color: aliceblue;
  color: darkslategrey;
  border-radius: 1rem;
}

button {
  border: none;
  background: none;
  color: darkslategrey;
}
