/* You can add global styles to this file, and also import other style files */
:root, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem;
}

h1 {
  font-family: Georgia, 'Times New Roman', serif;
}

button {
  background: none;
  border-color: darkslategrey;
  border-radius: 4rem;
}

input {
  border-radius: 0.5rem;
}
