<div class="tab-header">
  @if (allowsAnyNumber() === true) {
    <h1>Accordion [Multiple Open]</h1>
  } @else {
    <h1>Accordion [Only One Open]</h1>
  }
</div>

<div class="accordion-container">
  @for(item of accordionItems(); track $index) {
    <div class="accordion-item">
      <div class="accordion-header"
           [ngClass]="{
            'expanded-header' : expansionTracker()[$index],
            'closed-header' : !expansionTracker()[$index]
          }"
           (click)="toggleItem($index)"
      >
        <div class="header-title">
          {{ item.heading }}
        </div>
        <div class="header-icon">
          @if(expansionTracker()[$index]) {
            ▼
          } @else {
            ▶
          }
        </div>
      </div>
      @if (expansionTracker()[$index]) {
        <div class="accordion-description">
          {{ item.description }}
        </div>
      }
    </div>
  }
</div>
