<h1>Accordion</h1>

<div class="accordion-container">
  @for(item of accordionItems(); track $index) {
    <div class="accordion-item">
      <div class="accordion-header"
           [ngClass]="{
            'expanded-header' : indexTracker()[$index],
            'closed-header' : !indexTracker()[$index]
          }"
           (click)="toggleItem($index)"
      >
        <div class="header-title">
          {{ item.heading }}
        </div>
        <div class="header-icon">
          @if(indexTracker()[$index]) {
            ▼
          } @else {
            ▶
          }
        </div>
      </div>
      @if (indexTracker()[$index]) {
        <div class="accordion-description">
          {{ item.description }}
        </div>
      }
    </div>
  }
</div>
